<form [formGroup]="postForm" (ngSubmit)="submitForm()" class="post-form">
  <div class="form-container">
    <h1>Add a Post</h1>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Enter the title" />
      @if (postForm.get('title')?.hasError('required')) {
        <mat-error>
          Title is required
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        formControlName="content"
        placeholder="Enter the content"
        rows="4"
      ></textarea>
      @if (postForm.get('content')?.hasError('required')) {
        <mat-error>
          Content is required
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Author</mat-label>
      <input
        matInput
        formControlName="author"
        placeholder="Enter the author's name"
        />
        @if (postForm.get('author')?.hasError('required')) {
          <mat-error>
            Author is required
          </mat-error>
        }
      </mat-form-field>

      <mat-checkbox formControlName="isConcept" class="checkbox">
        Concept
        <p class="disclaimer">
          <small>*All new posts are always concepts. This cannot be changed.</small>
        </p>
      </mat-checkbox>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="postForm.invalid"
          >
          Add Post
        </button>
      </div>
    </div>
  </form>
