@if (selectedPost) {
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ selectedPost.title }}</mat-card-title>
        <mat-card-subtitle>By {{ selectedPost.author }}</mat-card-subtitle>
        <mat-card-subtitle>
          <strong>Created At:</strong> {{ formatDate(selectedPost.createdAt) }}
          <strong>Status:</strong> {{ selectedPost.status }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>{{ selectedPost.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>
}
